@font-face {
    font-family: "Cosi Azure";
    src:
    url("CosiAzure-Bold.woff"),
    url("CosiAzure-Bold.woff") format("opentype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Apercu";
    src:
    url("Apercu-Bold.woff"),
    url('Apercu-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Apercu";
    src:    url("Apercu-Light.woff"),
            url('Apercu-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}












