@font-face {
    font-family: "Cosi Azure";
    src: url("/assets/fonts/cosi_times/CosiAzure-Bold.woff");
    font-weight: bold;
}

@font-face {
    font-family: "Apercu";
    src: url("/assets/fonts/apercu/Apercu-Bold.woff");
    font-weight: bold;
}

@font-face {
    font-family: "Apercu";
    src: url("/assets/fonts/apercu/Apercu-Light.woff");
    font-weight: 300;
}

/*
@font-face {
    font-family: "Apercu";
    src: url("/assets/fonts/apercu/Apercu-Medium.woff");
    font-weight: 500;
}
@font-face {
    font-family: "Apercu";
    src: url("/assets/fonts/apercu/Apercu.woff");
    font-weight: normal;
}
*/

